<div class="flexbox-container">

    <div class="flexbox-item" id="list">
        <h3>Contact List</h3>
        <ul>
            <li *ngFor="let contact of contacts" (click)="showContact(contact)"
                [class.selected]="contact === selectedContact">
                <span>{{contact.firstname}} {{contact.lastname}}</span>
            </li>
        </ul>
    </div>

    <div class="flexbox-item" id="detail"
        *ngIf="selectedContact">
        <app-contact-detail [contact]="selectedContact"></app-contact-detail>
    </div>

</div>