@import '../../variables.scss';

.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .flexbox-item {
        margin: 0.5em;

        .selected {
            background-color: $primary;
            border: 1px solid $border;
        }

        h3, ul, li {
            padding: 0.5em;
            margin: 0.5em;
            text-align: center;
        }
        
        ul {
            list-style-type: none;

            li{
                user-select: none;
                cursor: pointer;
                color: $primarytext;
            
                &:hover {
                    background: $primary;
                }
            }
        }
       
    } 
}



